.line {
	width: 100%;
	height: auto;
	display: block;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.lineContainer {
	align-self: flex-start;
}

.lineContainerAlignEnd {
	align-self: flex-end;
}

.linePath {
	stroke: #000f02;
	stroke-width: 3px;
}

@media screen and (min-width: 768px) {
	.small {
		padding-left: 5rem;
	}

	.big {
		padding-left: 9rem;
	}

	.lineContainerAlignEnd {
		.small {
			padding-right: 5rem;
		}

		.big {
			padding-right: 9rem;
		}
	}
}

@media screen and (prefers-reduced-motion: reduce) {
	.line rect {
		display: none;
	}
}
