.line {
  width: 100%;
  display: block;
}

.lineContainer {
  margin: 0 auto;
  width: 50%;
  max-width: 180px;
  align-self: flex-start;
  transform: translate3d(0, 0, 0);
}

@supports (-moz-appearance: none) {
  .lineContainer {
    max-width: 180px;
  }
}

.lineContainerAlignEnd {
  align-self: flex-end;
}

.lineContainerAlignCenter {
  align-self: center;
}


.linePath {
  stroke: #07ff32;
  stroke-width: 1px;
}

@media screen and (min-width: 425px) {
  .lineContainer {
    margin: 0 clamp(50px, 20vw, 100px);

    width: auto;
    max-width: 200px;
  }

  .lineContainerAlignEnd {
    margin: 0 clamp(50px, 20vw, 60px);
  }
}
