.project {
  margin: 0;
  background: rgb(15, 8, 57);
  display: flex;
  align-items: center;
  justify-content: center;
  /*gap: 24px;*/
  width: 100%;
  padding: 24px;
  border: 1px solid #da4fd3;
  border-radius: 8px;
}

.projectImageEnd {
  flex-direction: row-reverse;
}

.mouseGradient {
  --x: 0;
  --y: 0;
  background: radial-gradient(
      circle at var(--x) var(--y),
      rgb(79, 20, 204) 0%,
      rgba(79, 20, 204, 0) calc(0% + 150px)
    ),
    rgb(15, 8, 57);
}
