.container {
  --gradient-direction: to bottom left;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  padding: 18px;
  gap: 1rem;
  background: linear-gradient(#1b1b22, #1b1b22) padding-box,
    linear-gradient(var(--gradient-direction), #ec38bc, #07ff32, #03001e)
      border-box;
  border: 4px solid transparent;
}

.clientsCarousel {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 32px;
}

.client {
  max-width: 300px;
  height: auto;
  flex: 0 0 200px;
}

img {
  max-width: 100%;
  height: auto;
}
