.annotation {
  margin: 0;
  background: #1b1b22;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 24px;
  border: 2px solid #7303c0;
  box-shadow: 0 0 3pt 2pt #50058e;
  border-radius: 8px;
  align-self: flex-start;
}

.annotationAlignEnd {
  align-self: flex-end;
}

.long {
  max-width: 540px;
}

.medium {
  max-width: 350px;
}

.short {
  max-width: 300px;
}