.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  background: #25252f;
  z-index: 10;
  padding: 1rem 0;
}

.headline {
  font-family: "Exo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(18px, 3vw, 24px);
  background: linear-gradient(
    to bottom right,
    #7303c0,
    #cf23cf,
    #eedd44,
    #07ff32
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.nav-links {
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
}
