.contactMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  text-align: center;
  background: #25252f;
  border-radius: 8px;
  box-shadow: 0 0 3pt 5pt #25252f;
  margin-bottom: 54px;
}

.contactMeText {
  margin: 16px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
