html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  font-family: "Helvetica Neue", sans-serif;
  font-size: clamp(16px, 3vw, 20px);
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  background: #25252f url("./assets/bg-pattern.svg");
}

#root {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 40px clamp(4px, 4vw, 40px);
}
