.projectInfo {
  display: flex;
  flex-direction: column;
  /*max-width: 40rem;*/
  /*flex-basis: 60%;*/
  width: 100%;
}

.stack {
  max-height: 6rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  column-gap: 3rem;
}

.stackElement {
  max-width: 8rem;
}

.projectUrls {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

