.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	gap: 2rem;
}

.projectInfo {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	position: relative;
}

.projectHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.projectName {
	font-family: "Trirong", serif;
	font-weight: 500;
	font-style: normal;
	margin: 0;
	font-size: clamp(20px, 3vw, 28px);
}

.projectAbout {
	margin: 0;
	white-space: pre-wrap;
}

.stack {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	margin: 0;
	padding-inline-start: 0;
	gap: 8px;
}

.stackElement {
	list-style: none;
	padding: 0.5rem;
	background-color: #151526;
	border: 1px solid #07ff32;
	font-family: "Exo", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: clamp(14px, 1.5vw, 16px);
	transition: border-color 0.8s;
}

.projectUrlsWrapper {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.projectUrl {
	display: block;
	position: relative;
	text-decoration: none;
	color: #fff;
}

.projectUrl:hover {
	color: #cf23cf;
}
