.aboutMe {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 1000px;
  gap: clamp(24px, 3vw, 48px);
}

.profilePicWrapper {
  display: flex;
  flex-basis: 25%;
  max-width: 200px;
  margin-top: 24px;
  aspect-ratio: 1 / 1;
  width: 100%;
}

.profilePic {
  width: 100%;
  border-radius: 50%;
  border: 1px solid #340565;
  box-shadow: 0 0 8pt -2pt #340565;
  opacity: 0;
  transition: opacity 1s, transform 1s;
  transform: scale(0.95);
}

.profilePicLoaded {
  opacity: 1;
  transform: scale(1);
}

.aboutMeInfo {
  display: flex;
  flex-direction: column;
  flex-basis: 75%;
  background: #25252f;
  border-radius: 8px;
  box-shadow: 0 0 3pt 5pt #25252f;
}

.aboutMeTitle {
  margin: 16px 4px;
  text-transform: uppercase;
  font-size: clamp(24px, 3vw, 36px);
  background: linear-gradient(to left, #7303c0, #f32170, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  width: fit-content;
}

.aboutMeSubtitle {
  margin: 16px 4px;
}

.aboutMeText {
  margin: 16px 4px;
}

.aboutMeUrlsWrapper {
  display: flex;
  flex-direction: row;
  margin: 16px 4px;
  gap: 1rem;
}

@media (max-width: 800px) {
  .aboutMe {
    flex-direction: column;
    align-items: center;
  }

  .aboutMeTitle {
    margin-left: auto;
    margin-right: auto;
  }

  .aboutMeTitle,
  .aboutMeSubtitle {
    text-align: center;
  }

  .aboutMeUrlsWrapper {
    justify-content: flex-end;
  }

  .profilePicWrapper {
    margin-top: 0;
  }
}
